<div class="clearfix mxn2">
  <div class="col-8 px2 mx-auto">
    <h1 class="h1 mt4 mb0 regular"><%= @thing.date.strftime("%F") %></h1>
    <p class="h3"><%= @thing.text %></p>
    <a href="#" class="h3 button button-big mb4 button-blue">Submit an entry</a>
  </div>
</div>
